body {background:#111 url(learn-css/bg.jpg) top center fixed; font:83% tahoma,verdana,sans-serif; color:#eee; line-height:1.7em;}
a {color: grey; text-decoration: none; margin:0;}
a:hover {color: #eee;}
h1 {font-size: 2.6em; padding: 40px 0 0 20px; margin: 0;}
h2,h3 {font-size: 1.8em; margin: 0 0 10px 0; padding: 0;}
h3{font-size: 1.4em;}
p,ul,ol {margin:0 0 20px 0; padding:0;}

.current {color: #9F9F52;}

#wrap{background: none; margin: 20px auto; width: 960px;}

#header{background-color: transparent; background-image: url(learn-css/header.png); height: 140px; margin-bottom: 20px;}
#header h1 a, #header h1 {line-height: 1em; color: #eee;}
#header p {padding:0 0 0 40px; margin:0; font-size:1.6em;}

#hmenu ul {float: left; width: 960px;}
#hmenu ul li {display: inline;}
#hmenu ul li a {font-size: 1.5em; padding: 4px; margin: 0 25px 0 0;}

#sidebar {width: 180px; clear: both; float: left; margin: 0; padding: 0;}
#sidebar h2 {font-size: 1.2em; margin: 0 0 5px 0;}
#sidebar ul {list-style: none;}
#sidebar p {margin: 0 0 20px 0;}
#sidebar ul li a.sampleLink {color: #9F9F52;}

ul.vmenu li {margin: 0 0 10px 0; padding: 0;}
ul.vmenu li a {display: block; font-size: 1.3em;}
ul.vmenu ul {margin: 0 0 0 20px; padding: 0;}
ul.vmenu ul li {margin: 0;}
ul.vmenu ul li a {padding: 2px 0 2px 0;font-size: 1em;}

#main {width: 760px; float: right;}

#quarters {clear: both; margin: 0 0 20px 0;}
#quarters h2 {font-size: 1.2em; margin: 5px 10px 10px 10px;}
#quarters p {font-size: 0.9em; margin: 0 10px 5px 10px;}
.q1,.q2,.q3,.q4 {float: left; margin: 0 20px 0 0; width: 225px; background-color: #1a1a1a;}
.q4 {margin: 0;}

#footer {text-align: right; color: #888; clear: both; padding: 10px 0;}
#footer p {margin: 0;}
